/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

@font-face {
  font-family: work;
  src: url(/src/assets/WorkSans-VariableFont_wght.ttf);
  font-display: swap;
}

body {
  margin: 0;
  width: 100%;
  display: flex;
  min-width: 320px;
  padding: 0;
  font-family: work;
  box-sizing: border-box;
  overflow-x: hidden;
  border-radius: 15px;
}

#popup {
  padding: 24px;
  color: #120b48;
  font-size: 14px;
}

label.chakra-switch.css-ghot30 {
  background-color: #120b48;
  border-radius: inherit;
}

#record {
  outline: auto;
  padding: 16px 0;
  border-radius: var(--Inner-Radius, 12px);
  background: var(--primary-main, #120b48);
  color: white;
  font-size: 16px;
  width: 100%;
  font-weight: 500;
}

.card {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--Inner-Radius, 12px);
  border: 1px solid var(--primary-primary-600, #100a42);
}

.toggle {
  display: flex;
  width: 36px;
  height: 20px;
  padding: 2px;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--Inner-Radius, 12px);
  background: var(--primary-main, #120b48);
}

#top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  font-family: work;
}

#panel {
  border-radius: 200px;
  background: #141414;
  color: white;
  font-family: work;
  font-weight: 500;
  font-size: 12px;
}


.controls-container {
  display: 'flex'; 
  align-items: 'center'
}